.App{
  display: flex;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

.App__Morning{
  @extend .App;
  background-color: #f0f0f0;
  color: #2f2f2f;
}

.App__Night{
  @extend .App;
  background-color: #2f2f2f;
  color: #f0f0f0;
}

.ThemeToggle{
  @extend .App;
  min-height: 2vh;
  font-size: 0.5em;
}

.ThemeToggle__Morning{
  @extend .ThemeToggle;
  background-color: #2f2f2f;
  color: #f0f0f0;
}

.ThemeToggle__Night{
  @extend .ThemeToggle;
  background-color: #f0f0f0;
  color: #2f2f2f;
}